# General
*.log
*.pdf
*.png

# IDE
.idea/ # PyCharm settings
.vscode/ # VSCode settings

# Python
*.pyc
__pycache__/

#Virtualenv
env/
venv/
whoosh/

# Databases
*.sqlite3
migrations/

# JavaScript
node_modules/
build/ # Webpack build output

# Django
.env 
req.txt
requirements.txt

# Assets
assets/
static/
media/

# Backup
backup/